**.aux
**.bbl
**.blg
**.log
**.out
**.pdf
**.synctex.gz
**/auto
**.fdb_latexmk
**.fls
src/
**.egg-info
**.mypy_cache
**__pycache__
.vscode/*
.coverage
**/MNIST
/exp/exp03_noisy_quadratic/fig/
/exp/exp03_noisy_quadratic/results/
/exp/exp03_noisy_quadratic/Backup/
